<div class="actions">
  <% if current_user %>
    <% if like = current_user.like_for_post_id(post.id) %>
      <form action="/likes/<%= like.id %>" method="POST">
        <input name="_method" type="hidden" value="delete">
        <button class="button user-like" type="submit">
          <%= post.like_count %> likes
        </button>
      </form>
    <% else %>
      <form action="/likes" method="POST">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
        <input type="hidden" name="post_id" value="<%= post.id %>">
        <button class="button" type="submit">
          <%= post.like_count %> likes
        </button>
      </form>
    <% end %>
  <% else %>
    <%= post.like_count %> likes
  <% end %>
  <span class="comment-count"><%= post.comment_count %> comments</span>
</div>