<header>
  <h1>Finstagram</h1>
  <div class="login-info">
    <% if current_user %>
      <%= current_user.username %>
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    <% end %>
  </div>
</header>
<main role="main">
  <article class="finstagram-post">
    <div class="user-info">
      <img src="<%= @finstagram_post.user.avatar_url %>" alt="<%= @finstagram_post.user.username %>">
      <h2><%= @finstagram_post.user.username %></h2>
      <h3><%= @finstagram_post.humanized_time_ago %></h3>
    </div>
    <a class="photo" href="#">
      <img src="<%= @finstagram_post.photo_url %>" alt="finstagram post from <%= @finstagram_post.user.username %>">
    </a>
    <div class="actions">
      <%= @finstagram_post.like_count %> likes
      <span class="comment-count"><%= @finstagram_post.comment_count %> comments</span>
    </div>
    <%= erb(:"shared/finstagram_post", { locals: { finstagram_post: @finstagram_post, allow_new_comment: true }}) %>
    <ul class="comments">
    
      <% @finstagram_post.comments.each do |comment| %>
        <li>
          <p>
            <%= comment.user.username %>: <%= comment.text %>
          </p>
        </li>
      <% end %>
    </ul>
  </article>
</main>