<header>
  <h1>Finstagram</h1>
</header>
<main role="main">
  <% @posts.each do |post| %>
    <article class="post">
      <div class="user-info">
        <img src="<%= post[:user][:avatar_url] %>" alt="<%= post[:user][:username] %>">
        <h2>
          <a href="#"><%= post[:user][:username] %></a>
        </h2>
        <h3><%= post[:time_ago_in_minutes] %></h3>
      </div>
      <a class="photo" href="#">
        <img src="<%= post[:photo_url] %>" alt="post from <%= post[:user][:username] %>">
      </a>
      <div class="actions">
        <a class="button" href="#">Like</a>
        <a class="button" href="#">Comment</a>
        <span class="like-count"><%= post[:like_count] %> likes</span>
      </div>
      <ul class="comments">
        <% post[:comments].each do |comment| %>
          <li>
            <p>
              <a href="#"><%= comment[:user][:username] %>:</a> <%= comment[:text] %>
            </p>
          </li>
        <% end %>
      </ul>
    </article>
  <% end %>
</main>